:root {
  --post-color-main: rgba(0, 0, 0, 1);
  --post-color-alt: rgba(0, 170, 255, 1);

  --post-fontFamily: "Lato";
  --post-fontWeight-main: 400;
  --post-fontWeight-alt: 700;

  --hero-color-main: rgba(255, 64, 83, 1);
}

.specialContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100vw;

  font-family: var(--post-fontFamily);
  font-weight: var(--post-fontWeight-main);

  color: var(--post-color-main);

  margin-left: calc((-100vw + 100%) / 2);
}

@media (max-width: 650px) {
  [data-platform='item_mobile'] {
    display: none !important;
  }
}
@media (min-width: 650px) {
  [data-platform='item_desktop'] {
    display: none !important;
  }
}